<% if @article.templated_articles.any? { |templated_article| templated_article.body.present? } %>
  <div id="main-post-title">Main diary</div>
<% end %>
<div id="post-content"><%= qiita_markdown(@article.text) %></div>

<div id="templated-posts-content">
  <% @article.templated_articles.order('position ASC').each do |templated_article| %>
    <% templated_article_body = qiita_markdown(templated_article.body, templated_article.format) %>

    <% if (templated_article_body.present? && !templated_article.is_private) || (templated_article_body.present? && current_user) %>
      <div class="templated-post-title">
        <% if templated_article.is_private %><i class="fas fa-lock"></i><% end %>
        <%= templated_article.title %>
      </div>
      <%= render 'format_for_content', { templated_article: templated_article, templated_article_body: templated_article_body } %>
    <% end %>
  <% end %>
</div>
