<% if flash[:notice] %>
  <div id="success-message" class="show-message">
    <%= flash[:notice] %><span id="times">&times;</span>
  </div>
<% end %>

<div id="post-content">
  <%= qiita_markdown(@article.text) %>
</div>
