// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin margin-top-and-bottom($size) {
  margin-top: $size;
  margin-bottom: $size;
}
@mixin margin-left-and-right($size) {
  margin-left: $size;
  margin-right: $size;
}

#success-message {
  letter-spacing: 0.5px;
  margin: 0 auto 20px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #5ba4e5;
  border: 1px solid #308ddf;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}
#failed-message {
  letter-spacing: 0.5px;
  margin: 0 auto 20px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #f95858;
  border: 1px solid #df3e3e;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}
#success-message #times, #failed-message #times {
  right: 1.5rem;
  cursor: pointer;
  position: absolute;
}

.index-message {
  max-width: 1230px;
  width: 95%;
}
.show-message {
  max-width: 900px;
  width: 95%;
}
.form-message {
  max-width: 900px;
  width: 95%;
}
.sessions-message {
  max-width: 600px;
  width: 95%;
}

$calendar-angulus-radius: 10px;
td {
  border-radius: 4px;
}
tr:first-child td:first-child {
  border-top-left-radius: $calendar-angulus-radius;
}
tr:first-child td:last-child {
  border-top-right-radius: $calendar-angulus-radius;
}
tr:last-child td:first-child {
  border-bottom-left-radius: $calendar-angulus-radius;
}
tr:last-child td:last-child {
  border-bottom-right-radius: $calendar-angulus-radius;
}

#calendar-outline {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e3f2f5;
  border: 5px solid #e2e2e2;
  border-radius: 10px;
  position: relative;
}

#year {
  display: inline-block;
  width: 80px;
}
#prev-year, #next-year, #prev-month, #next-month {
  width: 38px;
  height: 38px;
  a {
    width: 38px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: table;
    text-decoration: none;
  }
  a:after {
    font-size: 20px;
    color: white;
    display: table-cell;
    vertical-align: middle;
  }
}
#prev-year a:after {
  content: '<<';
}
#prev-month a:after {
  content: '<';
}
#next-month a:after {
  content: '>';
}
#next-year a:after {
  content: '>>';
}
#prev-year, #next-year {
  display: inline-block;
}
#prev-year {
  margin-right: 75px;
}
#next-year {
  margin-left: 75px;
}
#month {
  display: inline-block;
  width: 200px;
}
#prev-month, #next-month {
  display: inline-block;
}
#prev-month {
  margin-right: 75px;
}
#next-month {
  margin-left: 75px;
}
#day-of-week {
  width: 150px;
  height: 50px;
}
#day-of-week > p {
  color: white;
}
.day-box {
  position: relative;
  width: 150px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, 0);
}
.day {
  font-family: 'Open Sans Regular';
}
.day.post-day {
  font-family: 'Open Sans Light';
}

#day-of-week.sun {
  background-color: #dd453e;
}
#day-of-week.mon, #day-of-week.tue, #day-of-week.wed, #day-of-week.thu, #day-of-week.fri {
  background-color: #ff890f;
}
#day-of-week.sat {
  background-color: #22bac1;
}
.day-box.sun {
  background-color: #ff938c;
}
.day-box.mon, .day-box.tue, .day-box.wed, .day-box.thu, .day-box.fri {
  background-color: #ffab54;
}
.day-box.sat {
  background-color: #a1d4ea;
}

$post-box-z-index: 1;
.post-box {
  // transition-property: border transform;
  // transition-duration: 0.07s;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: $post-box-z-index;
}
.post-box:hover {
  transform: scale(1.15);
  border: 2px solid rgba(255, 255, 255, 1);
  z-index: $post-box-z-index + 1;
}

$post-link-over-post-day: 1;
.post-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: $post-link-over-post-day + 1;
}
.post-day {
  color: white;
  z-index: $post-link-over-post-day;
}
.post-day:after {
  content: '●';
  font-size: 18px;
  color: #dd453e;
  margin-left: 5px;
}
.day {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 18px;
  display: inline-block;
  margin: 0;
}

#today-button {
  background-color: #468fd8;
  padding: 10px;
  color: white !important;
  position: absolute;
  font-size: 11px !important;
  text-align: center;
  letter-spacing: 1px;
  display: table-cell;
  vertical-align: middle;
  right: 15px;
  top: 12px;
  width: 70px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
}
#today-button:hover {
  background-color: #2f80d0;
}
#today-button:active {
  box-shadow:0px 0px 25px 8px #1e68b1 inset;
}
#today-button span {
  font-size: 12px;
}
#today-button span:before {
  margin-right: 4px;
}

#calendar-wrap, #calendar-header {
  text-align: center;
}
#calendar-header {
  padding-top: 10px;
  padding-bottom: 15px;
}
#calendar {
  display: inline-block;
}

.dropzone {
  border: 2px dashed #b4bcc2;
  border-radius: 8px;
  width: 95%;
  height: 23vh;
  max-width: 900px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  margin: 20px auto;
  color: #808080;
  font-size: 16px;
  .picture-icon {
    font-size: 28px;
  }
}

#date-description {
  font-size: 15px;
  width: 95%;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px 2rem;
  background-color: #f9f9ff;
  border: 1px solid #e0e0ff;
  border-radius: 5px
}
#this-month-link {
  float: right;
}

$rule-space: 22px;
$rule-color: rgba(0, 0, 0, 0.1);
$rule-margin-left-and-right: 1.3rem;
@mixin note($color) {
  background-image: -webkit-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -webkit-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -webkit-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -moz-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -moz-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -moz-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -ms-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -ms-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -ms-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -o-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -o-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -o-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
}

#textarea {
  text-align: center;
  width: 95%;
  min-height: 55vh;
  max-height: 55vh;
  margin: 10px auto;
  #post-content {
    min-height: 55vh;
    max-height: 55vh;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    // font-size: 16px;
    // line-height: 25px;
    resize: none;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background-image: none;
  }
}
#post-content {
  font-family: 'Open Sans Regular';
  width: 95%;
  max-width: 900px;
  min-height: 800px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 31px;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 1px #999;
  @include note(#fcfcfc);
  background-size: 100% 100%, 100% 100%, 100% $rule-space+1;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: justify;
  word-break: break-all;

  h1 {
    // default: 30px;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  h2 {
    // default: 22.5px;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  h3 {
    // default: 17.55px;
    font-size: 18px;
    margin-top: 31px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  h4 {
    // default: 15px;
    font-size: 14px;
    margin-top: 31px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  h5 {
    // default: 12.45px;
    font-size: 12px;
    margin-top: 31px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  h6 {
    // default: 10.05px;
    font-size: 10px;
    margin-top: 31px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  p, iframe, ul, ol {
    margin-top: 31px;
    margin-bottom: 0;
  }

  img:not(.emoji) {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 4px #999;
    background-color: #ffffff;
  }

  ul, ol {
    padding-left: 1.5em;
    /*text-indent: -1em;*/
    /*list-style-position: inside;*/
  }

  hr {
    margin: 8rem 0;
    border-top: 1px dashed #959690;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 0;
  }
  hr:after {
    content: '\e90c';
    font-family: 'icomoon';
    font-size: 20px;
    color: #959690;
    display: inline-block;
    position: relative;
    top: -15px;
    left: 40px;
    transform: rotate(90deg);
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
    padding: 2px 4px;
    color: #4a4a4a;
    background-color: #e7e7e7;
    border-radius: 3px;
  }

  blockquote {
    font-family: Helvetica, メイリオ, Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN';
    color: #555;
    font-style: oblique;
    border-left: solid 4px #ddd;
    padding: 0.8em;
    margin-left: 0.8em;
    margin-right: 0;
    @include margin-top-and-bottom(1em);
    background-color: #f7f7f7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}
#post-content > *:first-child, #post-content blockquote > *:first-child {
  margin-top: 0 !important;
}
#post-content h1+h2, #post-content h2+h3, #post-content h3+h4, #post-content h4+h5, #post-content h5+h6 {
  margin-top: 10px;
}
#post-content h1+ol, #post-content h1+p, #post-content h1+ul, #post-content h2+ol, #post-content h2+p, #post-content h2+ul, #post-content h3+ol, #post-content h3+p, #post-content h3+ul, #post-content h4+ol, #post-content h4+p, #post-content h4+ul, #post-content h5+ol, #post-content h5+p, #post-content h5+ul, #post-content h6+ol, #post-content h6+p, #post-content h6+ul, #post-content blockquote+* {
  margin-top: 0;
}

#post-button {
  display: none;
}

.code-frame {
  border-radius: 3px;
  margin: 16px 0;
  background-color: #f7f7f7;
  line-height: 0;
  overflow: hidden;

  .code-lang {
    color: #555555;
    display: inline-block;
    padding: 3.2px 6.4px;
    margin: 0;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.07);
    font-size: 13px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
  }

  .highlight {
    background-color: #ffffff;

    pre {
      border-radius: 3px;
      border: 0;
      margin: 0;
      padding: 7.7px 15.4px;
      line-height: 1.2;
      background-color: #f7f7f7;
      overflow-x: auto;
      word-wrap: normal;
      white-space: pre;
      font-size: 13px;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    .hll { background-color: #ffffcc }
    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { color: #000000; font-weight: bold } /* Keyword */
    .o { color: #000000; font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
    .ge { color: #000000; font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
    .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d01040 } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #445588; font-weight: bold } /* Name.Class */
    .no { color: #008080 } /* Name.Constant */
    .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
    .ni { color: #800080 } /* Name.Entity */
    .ne { color: #990000; font-weight: bold } /* Name.Exception */
    .nf { color: #990000; font-weight: bold } /* Name.Function */
    .nl { color: #990000; font-weight: bold } /* Name.Label */
    .nn { color: #555555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008080 } /* Name.Variable */
    .ow { color: #000000; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #009999 } /* Literal.Number.Float */
    .mh { color: #009999 } /* Literal.Number.Hex */
    .mi { color: #009999 } /* Literal.Number.Integer */
    .mo { color: #009999 } /* Literal.Number.Oct */
    .sb { color: #d01040 } /* Literal.String.Backtick */
    .sc { color: #d01040 } /* Literal.String.Char */
    .sd { color: #d01040 } /* Literal.String.Doc */
    .s2 { color: #d01040 } /* Literal.String.Double */
    .se { color: #d01040 } /* Literal.String.Escape */
    .sh { color: #d01040 } /* Literal.String.Heredoc */
    .si { color: #d01040 } /* Literal.String.Interpol */
    .sx { color: #d01040 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d01040 } /* Literal.String.Single */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999999 } /* Name.Builtin.Pseudo */
    .vc { color: #008080 } /* Name.Variable.Class */
    .vg { color: #008080 } /* Name.Variable.Global */
    .vi { color: #008080 } /* Name.Variable.Instance */
    .il { color: #009999 } /* Literal.Number.Integer.Long */
  }
}

.video-player-wrapper {
  position: relative;
  max-width: 640px;
  margin: 0 auto 62px;
}
.video-player-wrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-player-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


// 画面横幅が十分大きいディスプレイのみ左右に prev_post, next_post ボタンを表示
@media screen and (min-width: 1050px) {
  #prev-post, #next-post {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 0;
    width: 42px;
    height: 22px;
    border-radius: 100%;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  #prev-post:hover, #next-post:hover {
    opacity: 0.8;
  }
  #prev-post {
    left: 20px;
  }
  #next-post {
    right: 20px;
  }
}
// それ以外は記事の一番下にリンクを表示
@media screen and (max-width: 1049px) {
  #prev-post, #next-post {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    /*padding: 10px 12px 16px 14px;*/
    padding: 7px 4px 6px 9px;
    width: 23px;
    height: 23px;
    color: #999999;
    border: 2px solid #999999;
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer;
  }
  #prev-post:hover, #next-post:hover {
    color: #777777;
    border-color: #777777;
  }
  #prev-post {
    float: left;
    margin: 20px 0 0 30px;
  }
  #next-post {
    float: right;
    margin: 20px 30px 0 0;
  }
}
@media screen and (max-width: 500px) {
  #prev-post, #next-post {
    border: 1px solid #999999;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


// タブレットサイズ
@media screen and (min-width: 501px) and (max-width: 800px) {

  #success-message, #failed-message {
    width: 95%;
    font-size: 1.4rem;
  }

  html {
    font-size: 70%;
  }

  #prev-year, #prev-month, #next-month, #next-year {
    width: 2.7rem;
    height: 2.7rem;
    a {
      width: 2.7rem;
      height: 2.7rem;
    }
    a:after {
      font-size: 0.8rem;
    }
  }
  #prev-year, #prev-month {
    margin-right: 10%;
  }
  #next-month, #next-year {
    margin-left: 10%;
  }

  #year, #month {
    font-size: 2.5rem;
    margin: 0 0.5rem;
  }
  #year {
    width: 6rem;
  }
  #month {
    width: 5rem;
  }

  #post-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}


// スマホサイズ
@media screen and (max-width: 500px) {

  #success-message, #failed-message {
    width: 100%;
    border-radius: 0;
    margin: 0;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  #calendar-outline {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
  }
  #calendar-header {
    font-size: 1.2rem;
  }
  #prev-year, #prev-month, #next-month, #next-year {
    width: 2.7rem;
    height: 2.7rem;
    a {
      width: 2.7rem;
      height: 2.7rem;
    }
    a:after {
      font-size: 0.8rem;
    }
  }
  #prev-year, #prev-month {
    margin-right: 1.5rem;
  }
  #next-month, #next-year {
    margin-left: 1.5rem;
  }

  #year, #month {
    font-size: 2.5rem;
    margin: 0 0.5rem;
  }
  #year {
    width: 6rem;
  }
  #month {
    width: 5rem;
  }

  table {
    border-collapse: collapse;
  }
  .day-box, #day-of-week {
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 0;
  }
  .day-box {
    height: 9rem;
  }
  #day-of-week {
    height: 5rem;
  }
  tr:first-child td:first-child {
    border-top-left-radius: 0;
  }
  tr:first-child td:last-child {
    border-top-right-radius: 0;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
  #day-of-week p {
    width: 44px;
    margin: 0 auto;
  }
  .day, .post-day {
    font-size: 12px;
    top: 0;
    left: 3px;
  }
  .post-day:after {
    display: inline-block;
    font-size: 12px;
  }

  .post-box {
    // transition-property: none;
    // transition-duration: 0;
  }
  .post-box:hover {
    transform: none;
    border: inherit;
  }

  #post-content {
    width: 100%;
    border: none;
    box-shadow: 0 0.0725em 0.3125em rgba(0, 0, 0, 0.25);
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 50rem;
  }
  #textarea {
    border: 1px solid grey;
    border-radius: 5px;
    #post-content {
      padding-bottom: 0.1rem;
    }
  }
  .dropzone {
    height: auto;
  }

  #date-description {
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
  }

}
