// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin margin-top-and-bottom($size) {
  margin-top: $size;
  margin-bottom: $size;
}
@mixin margin-left-and-right($size) {
  margin-left: $size;
  margin-right: $size;
}
// Refer from https://codepen.io/HollowMan/pen/uwstc. Thx!
// 水平線をギザギザにする関数
@mixin make-jagged-border($sc, $ec, $sx, $sy) {
  background:
    linear-gradient(
      45deg,
      $ec 63.333%,
      $post-content-border-color 69.333%,
      $ec 66.667%,
      $sc 66.667%
    ),
    linear-gradient(
      -45deg,
      $ec 63.333%,
      $post-content-border-color 33.333%,
      $ec 66.667%,
      $sc 66.667%
    );
  background-size: $sx $sy;
}

$general-max-width: 750px;
$img-max-width: 600px;
$img-max-height: 750px;
// img の width を auto にすると画面サイズが小さくなったときにはみ出るので
// はみ出る直前で max-width を 100% にする
// post-content や $img-max-width のサイズを変更した場合は
// $img-overflow-screen-width の値も変更する必要がある
$img-overflow-screen-width: 766px;
$general-width-percent: 85%;
$date-description-prev-next-post-width: 15%;
$post-content-table-border-outside: 1px solid #c3c9d0;
$post-content-table-border-inside:  1px solid #e1e4e8;
$post-content-padding-left-and-right: 2.2rem;
$post-content-padding-bottom: 1rem;
$post-content-padding-top: 1.3rem;
$post-content-padding-top-tablet: 1rem;
$post-content-border-color: #ccc;
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans Light";
$post-content-font: YuGothic, $system-font, 'Open Sans Regular';
// iPad の縦幅は 1024px なので、それ以上にすると
// タブレットでは、画面左右の丸い矢印が出なくなる
$prev-next-post-threshold: 1050px;
$hr-color: #fff;
$hr-before-after-height: 10px;

#success-message {
  letter-spacing: 0.5px;
  margin: 0 auto 20px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #5ba4e5;
  border: 1px solid #308ddf;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}
#failed-message {
  letter-spacing: 0.5px;
  margin: 0 auto 20px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #f95858;
  border: 1px solid #df3e3e;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}
#success-message #times, #failed-message #times {
  right: 1.5rem;
  cursor: pointer;
  position: absolute;
}

.index-message {
  max-width: 1230px;
  width: 95%;
}
.show-message {
  max-width: $general-max-width;
  width: $general-width-percent;
}
.form-message {
  max-width: $general-max-width;
  width: $general-width-percent;
}
.sessions-message {
  max-width: 600px;
  width: 95%;
}

$calendar-angulus-radius: 10px;
#calendar td {
  border-radius: 4px;
}
#calendar tr:first-child td:first-child {
  border-top-left-radius: $calendar-angulus-radius;
}
#calendar tr:first-child td:last-child {
  border-top-right-radius: $calendar-angulus-radius;
}
#calendar tr:last-child td:first-child {
  border-bottom-left-radius: $calendar-angulus-radius;
}
#calendar tr:last-child td:last-child {
  border-bottom-right-radius: $calendar-angulus-radius;
}

#calendar-outline {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  background-color: #e3f2f5;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  position: relative;
}

#year {
  display: inline-block;
  margin: 0 1rem;
  // width: 80px;
}
#prev-year, #next-year, #prev-month, #next-month {
  width: 38px;
  height: 38px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #0f3c69;
    border-radius: 100%;
    text-decoration: none;
  }
}

#prev-year a span, #prev-month a span, #next-month a span, #next-year a span {
  font-size: 20px;
  font-weight: bold;
  margin: 0 -6px;
  color: #fff;
}

#prev-year, #next-year {
  display: inline-block;
}
#prev-year, #prev-month, #next-year {
  margin-right: 3rem;
}
#next-year, #next-month, #prev-year {
  margin-left: 3rem;
}
#month {
  display: inline-block;
  margin: 0 1rem;
  // width: 200px;
}
#prev-month, #next-month {
  display: inline-block;
}
#day-of-week {
  width: 150px;
  height: 50px;
}
#day-of-week > p {
  color: white;
}
.day-box {
  position: relative;
  width: 150px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, 0);
}

#day-of-week.sun {
  background-color: #dd453e;
}
#day-of-week.mon, #day-of-week.tue, #day-of-week.wed, #day-of-week.thu, #day-of-week.fri {
  background-color: #ff890f;
}
#day-of-week.sat {
  background-color: #22bac1;
}
.day-box.sun {
  background-color: #ff938c;
}
.day-box.mon, .day-box.tue, .day-box.wed, .day-box.thu, .day-box.fri {
  background-color: #ffab54;
}
.day-box.sat {
  background-color: #a1d4ea;
}

$post-box-z-index: 1;
.post-box {
  // transition-property: border transform;
  // transition-duration: 0.07s;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: $post-box-z-index;
}
.post-box:hover {
  transform: scale(1.15);
  border: 2px solid rgba(255, 255, 255, 1);
  z-index: $post-box-z-index + 1;
}

$post-link-over-post-day: 1;
.post-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: $post-link-over-post-day + 1;
}
.post-link:link, .post-link:visited, .post-link:hover, .post-link:active {
  color: #444444;
}
.post-day {
  // color: #fff;
  z-index: $post-link-over-post-day;
}
.post-link span {
  color: #dd453e;
  margin-left: 5px;
}
.day {
  position: absolute;
  top: 10px;
  left: 15px;
  display: inline-block;
  margin: 0;
}
.day, .post-link span {
  font-size: 18px;
}

#today-button {
  background-color: #468fd8;
  padding: 10px;
  color: white !important;
  position: absolute;
  font-size: 11px !important;
  text-align: center;
  letter-spacing: 1px;
  display: table-cell;
  vertical-align: middle;
  right: 15px;
  top: 12px;
  width: 70px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
}
#today-button:hover {
  background-color: #2f80d0;
}
#today-button:active {
  box-shadow:0px 0px 25px 8px #1e68b1 inset;
}
#today-button span {
  font-size: 12px;
}
#today-button span:before {
  margin-right: 4px;
}

#calendar-wrap, #calendar-header {
  font-family: $system-font;
  // font-weight: bold;
  text-align: center;
}
#calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $system-font;
  font-size: 14px;
  padding: 20px 0;
}
#calendar {
  display: inline-block;
}

.dropzone {
  border: 2px dashed #b4bcc2;
  border-radius: 8px;
  width: $general-width-percent;
  // height: 23vh;
  max-width: $general-max-width;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  margin: 20px auto 64px;
  color: #808080;
  font-size: 16px;
  z-index: 1;  // less than footer
  .picture-icon {
    font-size: 28px;
  }
}

#date-description {
  font-size: 15px;
  width: $general-width-percent;
  max-width: $general-max-width;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px 2rem;
  background-color: #f9f9ff;
  border: 1px solid #e0e0ff;
  border-radius: 5px;
}
#this-month-link {
  float: right;
}
#date-description {
  text-align: center;
  padding: 0;
}
#date-description #prev-post, #date-description #next-post {
  text-decoration: none;
  color: #25507b;
  width: $date-description-prev-next-post-width;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}
#date-description #prev-post:hover, #date-description #next-post:hover {
  background-color: #eaeaff;
}
#date-description #prev-post:active, #date-description #next-post:active {
  box-shadow: 0px 0px 25px 8px #e1e1ff inset;
}
#date-description #prev-post {
  float: left;
  border-right: 1px solid #e0e0ff;
  border-left: none;
}
#date-description #next-post {
  float: right;
  border-left: 1px solid #e0e0ff;
  border-right: none;
}
#date-description #date {
  display: inline-block;
  width: 100% - $date-description-prev-next-post-width - $date-description-prev-next-post-width;
  height: 100%;
  padding: 15px 0;
}
#date-description #date.no-prev-post {
  float: right;
}
#date-description #date.no-next-post {
  float: left;
}

$rule-space: 22px;
$rule-color: rgba(0, 0, 0, 0.1);
$rule-margin-left-and-right: 1.3rem;
@mixin note($color) {
  background-image: -webkit-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -webkit-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -webkit-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -moz-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -moz-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -moz-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -ms-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -ms-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -ms-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: -o-linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -o-linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), -o-linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
  background-image: linear-gradient(left, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), linear-gradient(right, $color $rule-margin-left-and-right, transparent $rule-margin-left-and-right), linear-gradient($color $rule-space, $rule-color $rule-space, $rule-color $rule-space+1, $color $rule-space+1);
}

#post-content {
  font-family: $post-content-font;
  width: $general-width-percent;
  max-width: $general-max-width;
  min-height: 600px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 31px;
  padding: $post-content-padding-top $post-content-padding-left-and-right $post-content-padding-bottom;
  box-sizing: border-box;
  box-shadow: 0 0 1px #999;
  @include note(#fcfcfc);
  background-size: 100% 100%, 100% 100%, 100% $rule-space+1;
  border: 1px solid $post-content-border-color;
  border-radius: 4px;
  word-wrap: break-word;

  h1 {
    font-size: 20px;  // default: 30px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 15px;
    padding-left: 12px;
    position: relative;

    &:before {
      content: '';
      width: 3.5px;
      height: 100%;
      background: #62a6ea;
      position: absolute;
      left: 0;
    }
  }
  h2 {
    font-size: 18px;  // default: 22.5px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '';
      width: 2.5px;
      height: 100%;
      background: #62a6ea;
      position: absolute;
      left: 0;
    }
  }
  h3 {
    font-size: 16px;  // default: 17.55px;
    font-weight: normal;
    margin-top: 31px;
    margin-bottom: 10px;
    padding-left: 9px;
    position: relative;

    &:before {
      content: '';
      width: 2.5px;
      height: 100%;
      background: #62a6ea;
      position: absolute;
      left: 0;
    }
  }
  h4 {
    font-size: 15px;  // default: 15px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 5px;
  }
  h5 {
    font-size: 14.25px;  // default: 12.45px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 5px;
  }
  h6 {
    font-size: 13.5px;  // default: 10.05px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 5px;
  }

  p, ul, ol, dl, table {
    margin-top: 31px;
    margin-bottom: 0;
  }

  strong {
    font-family: $post-content-font;
    font-weight: bold;
  }

  a {
    color: #000080;
    text-decoration: none;
    border-bottom: 1px dashed #000080;
  }
  a:hover {
    color: #048dbd;
    border-bottom: 1px dashed #048dbd;
  }
  a[target="_blank"] {
    margin-right: 5px;
  }
  a[target="_blank"]:after {
    content: ' \ea7e  ';  // The spaces are needed.
    font-family: 'icomoon';
    letter-spacing: -4px;
  }
  a[rel="footnote"] {
    border-bottom: none;
    text-decoration: underline;
    margin: 0 3px;
  }

  img:not(.emoji) {
    max-width: $img-max-width;
    max-height: $img-max-height;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 4px #999;
    background-color: #ffffff;
  }

  img.emoji {
    vertical-align: text-top;
  }

  ul, ol {
    padding-left: 1.5em;
    /*text-indent: -1em;*/
    /*list-style-position: inside;*/
  }

  ul li {
    list-style-type: disc;
    ul li {
      list-style-type: circle;
      ul li {
        list-style-type: square;
      }
    }
  }

  ul .task-list-item, ol .task-list-item {
    list-style: none;

    input[type="checkbox"] {
      margin: 0 10px 0 -22px;
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
  }

  dl {
    dt {
      font-weight: bold;
      // font-style: oblique;
      font-family: $system-font;
      margin-top: 10px;
    }
    dd {
      padding-left: 1.5em;
    }
  }
  dl dt:first-child {
    margin-top: 0;
  }

  table {
    font-family: $system-font;
    font-size: 16px;
    display: block;
    overflow: auto;
    margin: 1.5em 0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    border: none;

    tr:nth-child(odd) {
      background-color: #fafbfc;
    }
    tr:nth-child(even) {
      background-color: #fff;
    }

    thead {
      border-top:   $post-content-table-border-outside;
      border-right: $post-content-table-border-outside;
      border-left:  $post-content-table-border-outside;
    }
    tbody {
      border-right:  $post-content-table-border-outside;
      border-bottom: $post-content-table-border-outside;
      border-left:   $post-content-table-border-outside;
    }

    th {
      font-weight: 700;
      background-color: #fff;
      padding: 8px 10px;

      border-right:  $post-content-table-border-inside;
      border-bottom: $post-content-table-border-inside;
    }
    td {
      padding: 8px 10px;

      border-right:  $post-content-table-border-inside;
      border-bottom: $post-content-table-border-inside;
    }

    tr th:last-child, tr td:last-child {
      border-right:  none;
    }
    tr:last-child td {
      border-bottom: none;
    }
  }

  hr {
    // サンプルでは div を使ってギザギザを表現していたので
    // div のデフォルトスタイルと合わせるためのスタイリング
    display: block;
    overflow: initial;
    border: none;

    position: relative;
    height: 30px;
    background: $hr-color;

    // post-content の border と box-shadow を隠すための微調整変数
    $tweak-px-for-post-content-border-and-shadow: 3px;
    width: calc(100% + #{$post-content-padding-left-and-right * 2} + #{$tweak-px-for-post-content-border-and-shadow * 2 + 1});
    margin: calc(#{$post-content-padding-top} + #{$hr-before-after-height}) calc(#{$post-content-padding-left-and-right * -1} - #{$tweak-px-for-post-content-border-and-shadow});

    // filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - #{$tweak-px-for-post-content-border-and-shadow});
      left: 1px;  // 超微調整
      height: $hr-before-after-height;
      @include make-jagged-border(transparent, $hr-color, 20px, 40px);
    }
    &:before {
      top: ($hr-before-after-height * -1);
    }
    &:after {
      bottom: ($hr-before-after-height * -1);
      transform: scale(1, -1);
    }
  }

  // 水平線にはさみのアイコンを入れるやつ。もう要らないかも
  // hr:after {
  //   content: '\e90c';
  //   font-family: 'icomoon';
  //   font-size: 20px;
  //   color: #959690;
  //   display: inline-block;
  //   position: relative;
  //   top: -15px;
  //   left: 40px;
  //   -webkit-transform: rotate(90deg);
  //   -moz-transform: rotate(90deg);
  //   -o-transform: rotate(90deg);
  //   -ms-transform: rotate(90deg);
  //   transform: rotate(90deg);
  // }

  .footnotes {
    hr {
      margin-bottom: 0;
      height: 1px;

      &:before, &:after {
        background: none;
        border-radius: 2.5px;
        border-bottom: 1px dashed #777;

        // 離れ小島になった注釈を作りたいとき用
        // これを適用する際は height を変更することを忘れずに
        // border-bottom: 1px solid #ccc;
        // box-shadow: 0px 3px 4px -4px #999;
      }
    }
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
    padding: 2px 4px;
    color: #4a4a4a;
    background-color: #e7e7e7;
    border-radius: 3px;
  }

  blockquote {
    font-family: Helvetica, メイリオ, Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN';
    font-style: oblique;

    color: #555;
    background-color: #f7f7f7;

    padding: 0.8em;
    margin: 1em 0.8em;

    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #ddd;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    blockquote {
      margin: 0.8em 0;
    }
  }

  summary {
    cursor: pointer;
  }

  .inline-code-color {
    display: inline-block;
    border-radius: 3px;
    width: 1em;
    height: 1em;
    margin: 0 0 3.5px 4px;
    vertical-align: middle;
  }

  .footnotes {
    font-size: 12px;

    ol li p {
      margin-top: 0.75rem;
      line-height: 20px;

      a:last-child {
        border-bottom: none;
      }
    }
  }
  .footnotes ol, .footnotes ol li:first-child p {
    margin-top: $post-content-padding-bottom;
  }

}
#post-content > *:first-child, #post-content blockquote > *:first-child, #post-content li > ul, #post-content li > ol {
  margin-top: 0 !important;
}
#post-content h1+h2, #post-content h2+h3, #post-content h3+h4, #post-content h4+h5, #post-content h5+h6 {
  margin-top: 10px;
}
#post-content h1+ol, #post-content h1+p, #post-content h1+ul, #post-content h1+dl,
#post-content h2+ol, #post-content h2+p, #post-content h2+ul, #post-content h2+dl,
#post-content h3+ol, #post-content h3+p, #post-content h3+ul, #post-content h3+dl,
#post-content h4+ol, #post-content h4+p, #post-content h4+ul, #post-content h4+dl,
#post-content h5+ol, #post-content h5+p, #post-content h5+ul, #post-content h5+dl,
#post-content h6+ol, #post-content h6+p, #post-content h6+ul, #post-content h6+dl,
#post-content blockquote + *:not(hr), #post-content blockquote + script + *:not(hr), #post-content hr + *
{
  margin-top: 0;
}

#templated-post-title, #main-post-title {
  margin: 27px auto 7px;
  text-align: center;
  max-width: $general-max-width - 20px;

  &:first-child {
    margin-top: 0;
  }
}

#templated-post-body {
  @extend #post-content;
  min-height: 125px;
}

// display: none が複数箇所にあるのはよくないので
// display: none はすべてここに集約している
// なので、ここを丸ごと消すと、すべての要素の display: none が
// 消えてしまうことに注意する
#post-button {
  display: none;
}

#post-content ul > li {
  list-style-type: disc;
}

#textarea {
  text-align: center;
  width: $general-width-percent;
  // min-height: 55vh;
  // max-height: 55vh;
  /*min-height: 500px;*/
  margin: 10px auto 20px;

  #post-content {
    // min-height: 55vh;
    // max-height: 55vh;
    /*min-height: 500px;*/
    // padding: 1.5rem 2rem 0;
    padding: $post-content-padding-top $post-content-padding-left-and-right $post-content-padding-bottom;
    // font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-family: $post-content-font;
    text-align: initial;
    // font-size: 16px;
    // line-height: 25px;
    resize: none;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background-image: none;
    width: 100%;
  }

  #templated-post-body {
    @extend #post-content;
    min-height: 150px;
  }
}

#search-result-contents {
  padding-bottom: 10px;
}
#search-result-content {
  font-family: $post-content-font;
  width: $general-width-percent;
  max-width: $general-max-width;
  margin: 20px auto 0;
  font-size: 15px;
  line-height: 31px;
  padding: 1rem 2rem 1rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 1px #999;
  @include note(#fcfcfc);
  background-size: 100% 100%, 100% 100%, 100% $rule-space+1;
  border: 1px solid $post-content-border-color;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  color: #444444;
  word-wrap: break-word;
}
#search-result-content:hover {
  transform: scale(1.02);
}
#search-result-contents #search-result-content:first-child {
  margin-top: 0;
}

#search-result-content #post-date {
    background: #666;
    color: #fff;
    padding: 7px 0 7px 35px;
    margin: 0 -16px 10px -48px;
    height: 31px;
    position: relative;
    display: block;
    text-decoration: none;
}
#search-result-content #post-date:before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent;
    border-right-color: #000;
}
// これを有効にするとリボンの右端をギザギザにできるけど
// Firefox や Safari では若干ずれる
// さらに Safari ではレンダリングが汚い
// #search-result-content #post-date:after {
//     width: 0;
//     height: 0;
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 98%;
//     border-width: 23.5px 20px;
//     border-style: solid;
//     border-color: #666;
//     border-right-color: transparent;
// }

#search-error-message {
  font-family: $system-font;
  width: $general-width-percent;
  max-width: $general-max-width;
  margin: 0 auto;
  padding: 80px 40px;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #000000;
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  box-sizing: border-box;
  word-wrap: break-word;
}
#search-error-message .reason {
  margin-top: 15px;
}

#search-form {
  position: relative;
  width: 225px;
}
#search-button {
  position: absolute;
  top: 3px;
  right: 2px;
  width: 15%;
  height: calc(100% - 6px);
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0));
}
#search-button:before {
  color: #757575;
}
#search-button:hover:before {
  color: #555555;
}

#search {
  display: block;
  // padding によるはみ出しを防ぐために
  // 微妙な割合になってしまう
  width: 80%;
  height: 24px;
  padding: 6px 31px 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-family: $system-font;
}
#search:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102,175,233,.6);
  width: 78%;
  padding-right: 35.5px;
}

#paginator {
  font-family: $system-font;
  font-size: 0;
  font-weight: bold;
  width: $general-width-percent;
  max-width: $general-max-width;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  box-sizing: border-box;

  .page-box, .ellipsis-box {
    font-size: 13px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #e2e4e8;
    margin-left: -1px;
    cursor: default;

    .page, .ellipsis {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: #444;
    }
    a:hover {
      background: #eff3f6;
    }
  }

  .page-box.current {
    color: #fff;
    background: #0366d7;
    border: 1px solid #0366d7;
    margin-left: 0;
  }
  .ellipsis-box {
    color: #d1d5da;
    background: #fafbfc;
  }

  > :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #e2e4e8;
    a {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  > :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #e2e4e8;
    a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.code-frame {
  border-radius: 4px;
  margin: 16px 0;
  background-color: #f7f7f7;
  line-height: 0;
  overflow: hidden;

  .code-lang {
    border-radius: 0 0 4px 0;
    color: #555555;
    display: inline-block;
    padding: 3.2px 6.4px;
    margin: 0;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.07);
    font-size: 14px;
    font-weight: bold;
    font-family: $system-font;
  }

  .highlight {
    background-color: #ffffff;

    pre {
      border: 0;
      margin: 0;
      padding: 7.7px 15.4px;
      line-height: 1.2;
      background-color: #f7f7f7;
      overflow-x: auto;
      word-wrap: normal;
      white-space: pre;
      font-size: 13px;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    .hll { background-color: #ffffcc }
    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { color: #000000; font-weight: bold } /* Keyword */
    .o { color: #000000; font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
    .ge { color: #000000; font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
    .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d01040 } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #445588; font-weight: bold } /* Name.Class */
    .no { color: #008080 } /* Name.Constant */
    .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
    .ni { color: #800080 } /* Name.Entity */
    .ne { color: #990000; font-weight: bold } /* Name.Exception */
    .nf { color: #990000; font-weight: bold } /* Name.Function */
    .nl { color: #990000; font-weight: bold } /* Name.Label */
    .nn { color: #555555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008080 } /* Name.Variable */
    .ow { color: #000000; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #009999 } /* Literal.Number.Float */
    .mh { color: #009999 } /* Literal.Number.Hex */
    .mi { color: #009999 } /* Literal.Number.Integer */
    .mo { color: #009999 } /* Literal.Number.Oct */
    .sb { color: #d01040 } /* Literal.String.Backtick */
    .sc { color: #d01040 } /* Literal.String.Char */
    .sd { color: #d01040 } /* Literal.String.Doc */
    .s2 { color: #d01040 } /* Literal.String.Double */
    .se { color: #d01040 } /* Literal.String.Escape */
    .sh { color: #d01040 } /* Literal.String.Heredoc */
    .si { color: #d01040 } /* Literal.String.Interpol */
    .sx { color: #d01040 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d01040 } /* Literal.String.Single */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999999 } /* Name.Builtin.Pseudo */
    .vc { color: #008080 } /* Name.Variable.Class */
    .vg { color: #008080 } /* Name.Variable.Global */
    .vi { color: #008080 } /* Name.Variable.Instance */
    .il { color: #009999 } /* Literal.Number.Integer.Long */
  }
}

// iframe 全般
// Twitter の埋め込みタグは
// Chrome, Firefox だと twitterwidget
// Safari だと iframe になる
iframe, twitterwidget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 31px !important;
  margin-bottom: 0 !important;
}
iframe[class="mastodon-embed"] {
  // border: 1px solid #acb2b7;
  border: 1px solid #e1e8ee;  // This color is same as Twitter's.
}
// YouTube などの iframe
.video-player-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto 62px;
}
.video-player-wrapper:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.video-player-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// Mastodon の iframe だけなぜか
// iframe が p タグで囲まれている
#post-content p iframe {
  margin-top: 0 !important;
}

// #post-content h1+twitterwidget,
// #post-content h2+twitterwidget,
// #post-content h3+twitterwidget,
// #post-content h4+twitterwidget,
// #post-content h5+twitterwidget,
// #post-content h6+twitterwidget {
//   margin-top: 0 !important;
// }

// 画面横幅が十分大きいディスプレイのみ左右に prev_post, next_post ボタンを表示
@media screen and (min-width: $prev-next-post-threshold) {
  #prev-next-post #prev-post, #prev-next-post #next-post {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 0;
    width: 42px;
    height: 22px;
    border-radius: 100%;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  #prev-next-post #prev-post:hover, #prev-next-post #next-post:hover {
    opacity: 0.8;
  }
  #prev-next-post #prev-post {
    left: 20px;
  }
  #prev-next-post #next-post {
    right: 20px;
  }
}
// それ以外は記事の一番下にリンクを表示
@media screen and (max-width: $prev-next-post-threshold - 1) {
  #prev-next-post {
    display: block;
    max-width: $general-max-width;
    width: $general-width-percent;
    margin: 20px auto;
    border-radius: 5px;
    /*border: 1px solid #e0e0ff;*/
    border: 1px solid #d8d8d8;
    /*background-color: #f9f9ff;*/
    background-color: #f7f7fb;
    box-sizing: border-box;
  }
  #prev-next-post #prev-post, #prev-next-post #next-post {
    display: inline-block;
    font-size: 18px;
    /*font-weight: bold;*/
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    color: #25507b;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  #prev-next-post #prev-post:hover, #prev-next-post #next-post:hover {
    background-color: #eaeaff;
  }
  #prev-next-post #prev-post:active, #prev-next-post #next-post:active {
    box-shadow: 0px 0px 25px 8px #e1e1ff inset;
  }
  #prev-next-post #prev-post {
    float: left;
    margin: 0;
    /*border-right: 0.5px solid #e0e0ff;*/
    border-right: 0.5px solid #d8d8d8;
    background-color: #f9f9ff;
  }
  #prev-next-post #prev-post.no-next-post {
    border-right: 1px solid #d8d8d8;
  }
  #prev-next-post #next-post {
    float: right;
    margin: 0;
    /*border-left: 0.5px solid #e0e0ff;*/
    border-left: 0.5px solid #d8d8d8;
    background-color: #f9f9ff;
  }
  #prev-next-post #next-post.no-prev-post {
    border-left: 1px solid #d8d8d8;
  }
  #prev-next-post #prev-post:after {
    content: "prev";
  }
  #prev-next-post #next-post:before {
    content: "next";
  }
  #prev-next-post #prev-post .icon {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }
  #prev-next-post #next-post .icon {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 500px) {
  #prev-next-post {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
  }
  #prev-next-post #prev-post, #prev-next-post #next-post {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// 画像がはみ出るときは max-width を 100% にする
@media screen and (max-width: $img-overflow-screen-width) {
  #post-content img:not(.emoji) {
    max-width: 100%;
  }
}


// タブレットサイズ
@media screen and (min-width: 501px) and (max-width: 800px) {

  #success-message, #failed-message {
    width: $general-width-percent;
    font-size: 1.4rem;
  }

  html {
    font-size: 70%;
  }

  #prev-year, #prev-month, #next-month, #next-year {
    width: 3.0rem;
    height: 3.0rem;
    a {
      width: 3.0rem;
      height: 3.0rem;
    }
    a:after {
      font-size: 0.8rem;
    }
  }
  #prev-year, #prev-month, #next-year {
    margin-right: 3rem;
  }
  #next-month, #next-year, #prev-year {
    margin-left: 3rem;
  }

  #year, #month {
    // font-size: 2.5rem;
    // margin: 0 0.5rem;
  }
  #year {
    // width: 6rem;
  }
  #month {
    // width: 5rem;
  }
  .day {
    top: 7px;
    left: 7px;
  }
  .day, .post-link span {
    font-size: 15px;
  }

  #post-content {
    padding-top: $post-content-padding-top-tablet;
    padding-bottom: $post-content-padding-bottom;
  }

  #search-result-content #post-date {
    margin: 0 -7px 10px -38px;
  }
}


// スマホサイズ
@media screen and (max-width: 500px) {

  #success-message, #failed-message {
    width: 100%;
    border-radius: 0;
    margin: 0;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  #calendar-outline {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
  }
  #calendar-header {
    font-size: 1.2rem;
  }
  #prev-year, #prev-month, #next-month, #next-year {
    width: 2.7rem;
    height: 2.7rem;
    a {
      width: 2.7rem;
      height: 2.7rem;
      span {
        font-size: 16px;
        font-weight: normal;
      }
    }
    a:after {
      font-size: 0.8rem;
    }
  }
  #next-month, #next-year, #year, #month, #prev-year {
    margin-left: 2.2rem;
  }
  #prev-month, #prev-year, #year, #month, #next-year {
    margin-right: 2.2rem;
  }
  #year {
    margin-left: 0;
    margin-right: 1.1rem;
  }
  #month {
    margin-right: 0;
    margin-left: 1.1rem;
  }

  #year, #month {
    // font-size: 2.5rem;
    // margin: 0 0.5rem;
  }
  #year {
    // width: 6rem;
  }
  #month {
    // width: 5rem;
  }

  #calendar {
    border-collapse: collapse;
  }
  .day-box, #day-of-week {
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 0;
  }
  .day-box {
    height: 9rem;
  }
  #day-of-week {
    height: 5rem;
  }
  #calendar td {
    border-radius: 0;
  }
  #calendar tr:first-child td:first-child {
    border-top-left-radius: 0;
  }
  #calendar tr:first-child td:last-child {
    border-top-right-radius: 0;
  }
  #calendar tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }
  #calendar tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
  #day-of-week p {
    width: 44px;
    margin: 0 auto;
  }
  .day, .post-day {
    top: 6px;
    left: 8px;
  }
  .day, .post-link span {
    font-size: 12px;
  }
  .post-day:after {
    display: inline-block;
    font-size: 12px;
  }

  .post-box {
    // transition-property: none;
    // transition-duration: 0;
  }
  .post-box:hover {
    transform: none;
    border: inherit;
  }

  form {
    height: 40%;
  }

  #post-content {
    width: 100%;
    border-radius: 4px;
    padding-top: $post-content-padding-top-tablet;
    padding-bottom: $post-content-padding-bottom;
    // min-height: 50rem;
    height: 100%;

    border: none;
    box-shadow: 0 0.0725em 0.3125em rgba(0, 0, 0, 0.25);
    hr {
      width: calc(100% + #{$post-content-padding-left-and-right * 2});
      margin: 4rem calc(#{$post-content-padding-left-and-right * -1});
      &:before, &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  #textarea {
    border: 1px solid grey;
    border-radius: 5px;
    height: 100%;
    width: 95%;
    #post-content {
      padding-bottom: 0.1rem;
      padding-left: 1.12rem;
      padding-right: 1.12rem;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }
  .dropzone {
    height: auto;
    width: 95%;
  }

  #date-description {
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
  }
  #date-description #prev-post, #date-description #next-post {
    width: 20%;
  }
  #date-description #date {
    width: 60%;
  }

  #search-result-content #post-date {
    margin: 0 -10px 10px -31px;
  }
  #search-result-content #post-date:before {
    border-width: 0 10px 10px 0;
  }
  #search-result-contents #search-result-content:first-child, #search-error-message {
    margin-top: 20px;
  }
  #search-result-content {
    line-height: 26px;
  }

  #paginator {
    .page-box, .ellipsis-box {
      width: 23.5px;
    }
  }
}

@media screen and (max-width: 400px) {
  #calendar-header {
    font-size: 1rem;
  }
  #next-month, #next-year, #year, #month, #prev-year {
    margin-left: 1.8rem;
  }
  #prev-month, #prev-year, #year, #month, #next-year {
    margin-right: 1.8rem;
  }
  #year {
    margin-left: 0;
    margin-right: 0.9rem;
  }
  #month {
    margin-right: 0;
    margin-left: 0.9rem;
  }
}
