// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans Light";
$template-content-font: YuGothic, $system-font, 'Open Sans Regular';

@mixin template-body {
  resize: vertical;
  height: 200px;
  min-height: 200px;
  max-height: 600px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
  padding: 1rem 1.4rem;
}

@mixin lock-icon-on-the-left-side-of-title {
  font-size: 12px;
  padding: 0 5px 0 0;
}

#template-contents {
  font-family: $template-content-font;
  width: 85%;
  max-width: 750px;
  margin: 0 auto;
}

#new-template-link {
  float: right;
  color: #444444;

  &:hover {
    color: #808080;
  }
}

.template-content:nth-of-type(2) {
  margin-top: 20px;
}

.template-content {
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  #template-title-edit-delete {
    position: relative;

    #template-edit, #template-delete, .sort-status-mark {
      position: absolute;
      top: 0;
      font-size: 18px;
      a {
        text-decoration: none;
        color: #444444;
      }
      a:hover {
        color: #808080;
      }
    }

    #template-edit {
      right: 42px;
    }

    #template-delete {
      right: 10px;
    }

    .sort-status-mark {
      left: 10px;
    }

    .sort-status-mark-ok {
      color: green;
    }

    .sort-status-mark-ng {
      color: red;
    }
  }

  #template-title {
    width: 80%;
    text-align: center;
    margin: 0 auto 10px auto;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-right: 1px solid #8a8a8a;
    word-wrap: break-word;
    cursor: move;

    .fa-lock, .fa-lock-open, .fa-eye-slash {
      @include lock-icon-on-the-left-side-of-title;
    }
  }

  #template-body {
    @include template-body;
    background-color: #f7f7f7;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #505050;
    cursor: move;
  }

  #template-body.no-template-body {
    resize: none;
    color: #9a9a9a;
    height: 100px;
    min-height: 100px;
  }
}

#template-form {
  width: 85%;
  max-width: 750px;
  margin: 0 auto;

  #template-form-title {
    font-family: $template-content-font;
    text-align: center;
    margin: 30px 0 0 0;
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

    #back-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #444444;
      font-size: 19px;
    }
  }

  #template-title {
    font-family: $template-content-font;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 0.4rem 1.4rem;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 15px 0;
  }

  #template-body {
    @include template-body;
    font-family: $template-content-font;
    display: block;
    margin: 5px 0 15px 0;
  }

  #template-post-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 35px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #5ba4e5;
    border: 1px solid #308ddf;
    outline: none;
    cursor: pointer;
  }
}
