/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require icon.css
 *= require_tree ./common
 *= require_self
 */

@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('fonts/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/fonts/OpenSans-Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

$normal-font-color: #444444;

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Open Sans Light';
  color: $normal-font-color;
  margin-bottom: 60px;
}

a:link {
  color: skyblue;
}
a:visited {
  color: skyblue;
}
a:hover {
  color: orange;
}
#post-content a[target="_blank"]:after {
  content: '\e912';
  font-family: 'icomoon';
}

header {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0.0625em 0.3125em rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  position: relative;
}
#header {
  max-width: 1000px;
  margin: 0 auto;
}
#header a {
  color: #62a6ea;
  font-size: 20px;
  text-decoration: none;
}
#header span {
  font-size: 20px;
}
#header a:hover {
  color: #7cc0ff;
}
#config {
  color: #222222 !important;
  position: absolute;
  font-size: 22px;
  height: 22px;
  text-align: center;
  letter-spacing: 1px;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

#header #listbox {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 120px;
  padding: 5px 0;
  z-index: 100000;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  visibility: hidden;
}
#header #listbox .menulist {
  margin: 0;
  padding: 0 !important;
  width: 120px;
}
#header #listbox .menulist .menulink {
  display: block;
  width: 100%;
  color: #444444;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#header #listbox .menulist .menulink:hover {
  background-color: #62a6ea;
  color: #ffffff;
  cursor: pointer;
}
#header #listbox .menulist #delete-link:hover {
  background-color: #df3e3e;
}

#header ul {
  list-style: none;
  float: right;
}
#header ul li {
  float: left;
  padding: 20px 20px;
}
#homeicon {
  float: left !important;
}
#hamburger, .hamburger-menu, .hamburger-menu ul li {
  display: none;
}

$footer-color: #3f2e2e;
#footer {
  /*position: relative;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 11px;
  color: $footer-color;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 -0.0625em 0.3125em rgba(0, 0, 0, 0.25);
  z-index: 2;  // more than image icons on dropzone
}
@media screen and (max-width: 1049px) {
  #footer {
    margin-top: 0;
  }
}
#copyright {
  text-align: center;
  color: #3f2e2e;
  font-family: 'Open Sans Regular';
  font-size: 10px;
}
#copyright a {
  text-decoration: none;
  color: $footer-color;
  font-family: 'Open Sans Bold';
}
#copyright a:hover {
  border-bottom: #3f2e2e 1px solid;
}

.clearfix {
  clear: both;
  overflow: auto;
}

@media screen and (max-width: 1060px) {
  #today-button {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 650px) {

  #right-header {
    display: none;
  }

  #hamburger {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .hamburger-menu ul {
    float: none !important;
  }
  .hamburger-menu ul li {
    display: block;
    width: 100%;
    padding: 0 !important;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
  }
  .hamburger-menu ul li:last-child {
    border-bottom: 1px solid #cccccc;
  }
  .hamburger-menu ul li a {
    display: block;
    width: 100%;
    padding: 8px 30px;
    box-sizing: border-box;
    color: #25507b !important;
  }
  .hamburger-menu ul li span {
    margin-right: 20px;
  }

}

@media screen and (max-width: 500px) {

  html {
    font-size: 62.5%;
  }

  header {
    width: 100%;
    margin-bottom: 0px !important;
  }
  #header {
    width: 100% !important;
  }
  header li {
    padding: 1.4rem 3rem !important;
  }
  #header span {
    font-size: 25px;
  }
  #right-header {
    display: none;
  }

  #calendar-header {
    border-top: 1px solid #cccccc;
  }

  #homeicon li a, #hamburger li span {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #hamburger {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .hamburger-menu ul {
    float: none !important;
  }
  .hamburger-menu ul li {
    display: block;
    width: 100%;
    padding: 0 !important;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
  }
  .hamburger-menu ul li:last-child {
    /*border-bottom: 1px solid #cccccc;*/
  }
  .hamburger-menu ul li a {
    display: block;
    width: 100%;
    padding: 8px 30px;
    box-sizing: border-box;
    color: #25507b !important;
  }
  .hamburger-menu ul li span {
    margin-right: 20px;
  }

  #header .hamburger-menu ul li #delete-link {
    color: #df3e3e !important;
  }

  footer {
    width: 100%;
  }

  header, #footer {
    box-shadow: none;
  }

}
