// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$normal-font-color: #444444;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans';
  color: $normal-font-color;
}

a:link {
  color: skyblue;
}
a:visited {
  color: skyblue;
}
a:hover {
  color: orange;
}

$calendar-angulus-radius: 10px;
td {
  border-radius: 4px;
}
tr:first-child td:first-child {
  border-top-left-radius: $calendar-angulus-radius;
}
tr:first-child td:last-child {
  border-top-right-radius: $calendar-angulus-radius;
}
tr:last-child td:first-child {
  border-bottom-left-radius: $calendar-angulus-radius;
}
tr:last-child td:last-child {
  border-bottom-right-radius: $calendar-angulus-radius;
}

#calendar-outline {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e3f2f5;
  border: 5px solid #e2e2e2;
  border-radius: 10px;
}

#year {
  display: inline-block;
  width: 80px;
}
#prev-year, #next-year, #prev-month, #next-month {
  width: 38px;
  height: 38px;
  a {
    width: 38px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: table;
    text-decoration: none;
  }
  a:after {
    font-size: 20px;
    color: white;
    display: table-cell;
    vertical-align: middle;
  }
}
#prev-year a:after {
  content: '<<';
}
#prev-month a:after {
  content: '<';
}
#next-month a:after {
  content: '>';
}
#next-year a:after {
  content: '>>';
}
#prev-year, #next-year {
  display: inline-block;
}
#prev-year {
  margin-right: 75px;
}
#next-year {
  margin-left: 75px;
}
#month {
  display: inline-block;
  width: 200px;
}
#prev-month, #next-month {
  display: inline-block;
}
#prev-month {
  margin-right: 75px;
}
#next-month {
  margin-left: 75px;
}
#day-of-week {
  width: 150px;
  height: 50px;
  background-color: #dd453e;
}
#day-of-week > p {
  color: white;
}
.day-box {
  position: relative;
  width: 150px;
  height: 100px;
  background-color: #ff906a;
  border: 2px solid rgba(255, 255, 255, 0);
}
$post-link-over-post-day: 1;
.post-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  // 日付(pタグ)よりもリンクが上に来るようにする
  // 日付にマウスオーバーしたときにその部分が
  // リンクにならない現象を防ぐため
  z-index: $post-link-over-post-day + 1;
}
.post-day {
  color: white;
  // リンクがあれば日付(pタグ)はそれより下に来るようにする
  z-index: $post-link-over-post-day;
}
.post-day:after {
  content: '●';
  font-size: 18px;
  color: #dd453e;
  margin-left: 5px;
}
.day {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 18px;
  display: inline-block;
  margin: 0;
}

#calendar-wrap, #calendar-header {
  text-align: center;
}
#calendar {
  display: inline-block;
}
