@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?m88uex');
  src:  url('fonts/icomoon/icomoon.eot?m88uex#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?m88uex') format('truetype'),
    url('fonts/icomoon/icomoon.woff?m88uex') format('woff'),
    url('fonts/icomoon/icomoon.svg?m88uex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e906";
}
.icon-keyboard_arrow_right:before {
  content: "\e903";
}
.icon-keyboard_arrow_left:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e901";
}
.icon-house:before {
  content: "\e901";
}
.icon-building:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-zoom:before {
  content: "\e900";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-magnifying-glass:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-house:before {
  content: "\e901";
}
.icon-building:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-quill:before {
  content: "\e907";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
